.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card {
   
        margin: 2px;
    
        .card-img-top{
            display: flex;
            height: 182px;
           object-fit: contain;
        
         }
    }
  
}