.container{
    display: grid;
    column-gap: 7px;
    row-gap: 7px;

    .card {
   
        margin: 2px;
    
        .card-img-top{
            display: flex;
            height: 182px;
           object-fit: contain;
        
         }
    }
  
}