.hero{
    background-image: url(../imagenes/LogoSample_ByTailorBrands.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    
}