
/* Media query para pantallas pequeñas */
@media screen and (min-width: 200px) {
    .producto-grid {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    }
  }
  
  
  /* Media query para pantallas medianas */
  @media screen and (min-width: 568px) {
    .producto-grid {
      grid-template-columns: repeat(3, 1fr); /* ters columnas en pantallas medianas */
    }
  }
  
  /* Media query para pantallas aún más grandes */
  @media screen and (min-width: 992px) {
    .producto-grid {
      grid-template-columns: repeat(4, 1fr); /* Vuelve a cuatro columnas en pantallas muy grandes */
    }
  }
  
  
    .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }