
.productos_container { 
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 7px;
    row-gap: 7px;

    .card {
        height: 100%;
        width: 100%;
        
        &:hover{
           background-color:rgb(237, 160, 160) ;
        }

        .card-img-top{
            display: flex;
            height: 150px;
           object-fit: contain;

             .text{
               font-size: 20px;
               font-display: flex;
             }
         }
             
    }
}