.productos_container{
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
  
    .producto-grid{
      display: grid;
      gap: 20px;
  
    }
  
  }

  @media screen and (max-width: 768px) {
    .producto-grid {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */   
     }
    }


    .productos_container{
      max-width: 1200px;
      margin: auto;
      padding: 40px 0;
    
      .producto-grid{
        display: grid;
        gap: 20px;
    
      }
    
    }    
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .producto-grid {
          grid-template-columns: repeat(3, 1fr); /* ters columnas en pantallas medianas */ 
        }
      }
 

      .productos_container{
        max-width: 1200px;
        margin: auto;
        padding: 40px 0;
      
        .producto-grid{
          display: grid;
          gap: 20px;
      
        }
      
      }  

      @media screen and (min-width: 992px) {
        .producto-grid {
          grid-template-columns: repeat(4, 1fr); /* Vuelve a cuatro columnas en pantallas muy grandes */
       }
     }
