
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$fuenteprincipal
}



.navbar-brand img{
    max-width: 50px; /*establece un ancho maximo de 50px*/
    max-height: 50px; /*establece una altura maxima de 50px*/
}
