@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}



.navbar-brand img{
    max-width: 50px; /*establece un ancho maximo de 50px*/
    max-height: 50px; /*establece una altura maxima de 50px*/
}


/* index */

header {
    position: sticky;
    top: 0;
}

.hero{
    background-image: url(../imagenes/LogoSample_ByTailorBrands.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    
}


/* productos */

.productos_container { 
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 7px;
    row-gap: 7px;
}

.card-img-top{
    display: flex;
    height: 182px;
   object-fit: contain;
 }

.card {
    height: 100%;
    width: 100%;

}
    
  
.text{
    font-size: 20px;
    font-display: flex;
}

.piedepagina{
    display: flex;
}

/* nosotros */

p {
   
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* servicio */
main{
    min-height: 80vh;
}